@model Product
@{
    Layout = "_SimpleLayout";
}

<h5 class="bg-primary text-white text-center p-2">HTML Form</h5>

<partial name="_Validation" />

<form asp-action="submitform" method="post" id="htmlform">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <div><span class="text-danger" asp-validation-for="Name"></span></div>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label asp-for="Price"></label>
        <div><span class="text-danger" asp-validation-for="Price"></span></div>
        <input class="form-control" asp-for="Price" />
    </div>
    <div class="mb-3">
        <label>CategoryId</label>
        <div><span class="text-danger" asp-validation-for="CategoryId"></span></div>
        <input class="form-control" asp-for="CategoryId" />
    </div>
    <div class="mb-3">
        <label>SupplierId</label>
        <div><span class="text-danger" asp-validation-for="SupplierId"></span></div>
        <input class="form-control" asp-for="SupplierId" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>