@model Product

@{
    Layout = "_Layout";
    ViewBag.Title = ViewBag.Title ?? "Product Table";
} 

<div class="m-2">
    <table class="table table-sm table-striped table-bordered">
        <tbody>
            <tr><th>Name</th><td>@Model?.Name</td></tr>
            <tr>
                <th>Price</th>
               
            </tr>
            <tr><th>Category ID</th><td>@Model?.CategoryId</td></tr>
        </tbody>
    </table>
</div>