@page "/pages/form/{id:long?}"
@model FormHandlerModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Mvc.Rendering;

<div class="m-2">
    <h5 class="bg-primary text-white text-center p-2">HTML Form</h5>
    <form asp-page="FormHandler" method="post" id="htmlform">
        <div class="mb-3">
            <label>Name</label>
            <input class="form-control" asp-for="Product!.Name" name="name" />
        </div>
        <div class="mb-3">
            <label>Price</label>
            <input class="form-control" asp-for="Product!.Price" name="price" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>

@functions {
    public class FormHandlerModel : PageModel
    {
        private DataContext context;

        //public SelectList CategoriesSelectList { get; set; }

        public FormHandlerModel(DataContext dbContext)
        {
            context = dbContext;

            //CategoriesSelectList = new SelectList(context.Categories, "CategoryId", "Name");
        }

        public Product? Product { get; set; }

        public async Task<IActionResult> OnGetAsync(long id = 1)
        {
            Product = await context.Products
                                   .Include(p => p.Supplier)
                                   .Include(p => p.Category)
                                   .FirstOrDefaultAsync(p => p.ProductId == id);

            ViewData["categories"] = new SelectList(context.Categories, "CategoryId", "Name");

            if (Product == null)
            {
                // another option(custom not found page)
                //return RedirectToPage("NotFound");
                return new NotFoundResult();
            }

            return Page();
        }

        public IActionResult OnPost(string name, decimal price)
        {

            TempData["name param"] = name;
            TempData["price param"] = price.ToString();


            return RedirectToPage("FormResults");
        }
    }
}